<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="container">
            <app-footer-content-img></app-footer-content-img>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="container">
            <app-footer-content-img></app-footer-content-img>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="container">
            <app-footer-content-img></app-footer-content-img>
        </div>
    </div>
</div>