<div class="card bg-light" style="width:300px">
    <img class="card-img-top" [src]="card.img" alt="Card image"
        style="max-width:100%; height: 250px;">
    <div class="card-body text-center">
        <h4 class="card-title text-center">{{card.name}}</h4>
        <p *ngIf="status" class="card-text">{{card.des}}</p>
        <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#detail" (click)="Detail()">Detail</button>
        <button class="btn btn-warning ml-2" *ngIf="status; else NoidungElse" (click)="HideDes()">Hide Des</button>
    </div>
</div>

<ng-template #NoidungElse>
    <button class="btn btn-warning ml-2" (click)="ShowDes()">Show Des</button>
</ng-template>